* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #E0E0E0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#icon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
    filter: drop-shadow(0 0.25rem 3px #62606064);
    transition: 1s;
}

#icon:hover {
    filter: drop-shadow(0 0.35rem 6px #ffffff64);
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #FAC632;
}

h1 span {
    color: #1a1919;
}

#input-area {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 0.2rem solid #504f4f;
    border-radius: 0.5rem;
    padding: 0.2rem;
}

input {
    width: 20rem;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.5em;
    outline: none;
    border: none;
    background-color: transparent;
    color: #1a1919;
}

button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

button img {
    width: 1.5rem;
    height: 1.5rem;
    user-select: none;
}

.status-area {
    display: flex;
    margin-top: 1rem;
}

#message {
    display: none;
}

#strength {
    font-weight: bold;
    margin-left: 0.2rem;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .container {
        position: relative;
        bottom: 15rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    input {
        width: 18rem;
        height: 2.5rem;
        font-size: 0.8rem;
    }
}